# Maven
heplerhub-backend/target/
**/target/

# React
helperhub-frontend/node_modules/
helperhub-frontend/dist/
**/node_modules/
**/dist/

# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# Windows
Thumbs.db